build-SR_Games-Desktop_Qt_5_8_0_MinGW_32bit-Debug/.qmake.stash
build-SR_Games-Desktop_Qt_5_8_0_MinGW_32bit-Debug
build-SRGames-Desktop_Qt_5_8_0_MinGW_32bit-Debug
build-SR_Games-Android_for_armeabi_v7a_GCC_4_9_Qt_5_8_0-Debug
SR_Games/SR_Games.pro.user
SR_Games/SR_Games.pro.user.aeba512
SR_Games/SR_Games.pro.user
SR_Games/SR_Games.pro.user
build-SRGames-Android_for_armeabi_v7a_GCC_4_9_Qt_5_8_0-Debug
SRGames/SRGames.pro.user
build-SRGames-Android_for_armeabi_v7a_GCC_4_9_Qt_5_8_0-Release